/*******************Global CSS*******************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*******************Typography*******************/

.name,
.stats {
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.sub {
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

/*******************Layout*******************/
.back {
  background-color: hsl(185, 75%, 39%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: absolute;
}

.top {
  top: 0;
  left: 0;
}

.bottom {
  bottom: 0;
  right: 0;
}

.card {
  z-index: 1;
  text-align: center;
  background-color: white;
  width: 335px;
  height: 374px;
  border-radius: 10px 10px 10px 10px;
}

.card-pattern {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
