/*******************Global CSS*******************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/*******************Typography*******************/

.name,
.stats {
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

.sub {
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

/*******************Layout*******************/
.back {
  background-color: hsl(185, 75%, 39%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: absolute;
}

.top {
  top: 0;
  left: 0;
}

.bottom {
  bottom: 0;
  right: 0;
}

.card {
  position: relative;
  z-index: 1;
  text-align: center;
  background-color: white;
  width: 335px;
  height: 374px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 5px 40px 61px 0px rgb(0 0 0 / 25%);
}

.card-pattern {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.photo {
  position: absolute;
  left: 35%;
  top: 25%;
  border-radius: 50%;
  border: 5px solid white;
}

.main-stats,
.sub-stats {
  display: flex;
  justify-content: space-around;
}
